body {
	height: 100%;
	background: #1c699d;

	font-family: 'Oswald', 'Futura', sans-serif;
}
#wrapper {
	margin-top: 10% !important;
}
#content {
	background: #1d9ce5;
	padding: 25px;
}
#content > h2 {
	font-size: 18px;
	text-align: center;
	padding-top: 0;
}
.t10 {
	margin-top: 10px;
}
.t20 {
	margin-top: 20px;
}
.todo-completed {
	text-decoration: line-through;
	background: rgba(149, 165, 166, .3);
}
footer {
	margin-top: 20px;
	color: white;
}
.list-group-item {
	color: black;
}

body, html {
  height: 100%;
  margin: 0;
}

.bg {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
